.bg{
    width: 100vw;
    height: 100vh;
    background-image: url('/bg.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
}
.name{
    color: white;
    line-height: 1;
}

.first_name{
    font-family: var(--font-primary);
    font-size: 3em;
}

.last_name{
    font-size: 7em;
    font-weight: 800;
}

.foot{
    display: flex;
    position: absolute;
    bottom: 20px;
    width: 100%;
}
.footer_icons{
    position: relative;
    left: 15%;
    filter: invert(100%);
}

.footer_icons img{
    width: 70%;
}

.name_container{
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 20%;
    left: 10%;
}



.buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.buttons button{
    border-radius: 20px;
    padding: 5px 15px;
}