.bg{
    background-color: transparent;
    color: white;
    position: relative;
    z-index: 2;
}
.m_nav_item{
    color:white;
    padding-right: 1.5em;
    padding-top: .2em;
    padding-left: .5em;
    font-family: 'Montserrat', sans-serif;
}

.nav_item_bold{
    font-weight: bold;
}

